<html lang="en">
    <%- include('includes/head.ejs', { 'styles': ['styles/header.css', 'styles/main.css'] }) %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <body>
        <%- include('includes/navbar.ejs') %>
        <style>
            .Header {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .data {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        </style>
        <main>
            <h1 class="Header">Leaderboard</h1>
            <% for (let i = 0; i < user.length; i++){%>
                <p class="data"><%=i+1 %> <%= user[i].username%></p>
                <p class="data"><%=user[i].HighestScore%></p>
            <%}%>
        </main>
    </body>
</html>