<html lang="en">
    <%- include('includes/head.ejs', { 'styles': ['styles/header.css', 'styles/main.css', 'styles/leaderboard.css'] }) %>
    <body>
        <%- include('includes/navbar.ejs') %>
        <style>
            /* .Header {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            */
            .subpodium {
                margin-top: 15px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 250px;
            }
            .data {
                color: black;
                font-weight: 600;
                font-size: 20px;
                position: absolute;
                top: -35px;
            }

            .podium {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-top: 100px;
            }
            #podium0{
                position: relative;
                bottom: 0;
                background-color: rgb(209, 51, 90);
                margin: 4px;
                width: 100px;
                height: 200px;
                border-radius: 5px;
                border-color: black;
                
            }
            #podium1{
                position: relative;
                bottom: 0;
                background-color: rgb(176, 66, 134);
                margin: 4px;
                width: 100px;
                height: 150px;
                border-radius: 5px;
                border-color: black;
            }
            #podium2{
                position: relative;
                bottom: 0;
                background-color: rgb(137, 78, 130);
                margin: 4px;
                width: 100px;
                height: 100px;
                border-radius: 5px;
                border-color: black;
            }

            #podium0 img {
                width: 25px;
                position: absolute;
                left: 50%;
                top: -60px;
                transform: translate(-50%);
            }

            #podium0, #podium1, #podium2 {
                align-self: flex-end; /* Aligner chaque élément en bas */
            }

            p {
                margin: 0 20%;
                text-align: center;
            }
            
        </style> 
        <main>
            <h1 class="title">Leaderboard</h1>

            <% if (user.length === 0) { %>
                <p class="subtitle">Aucun joueur n'a encore réussi à terminer le quiz ! Donnez tout pour être le premier. 😈</p>
            <% } else if (user.length < 3) { %>
                <p class="subtitle">Il ne reste plus que <%= 3 - user.length %> places sur le podium ! Faites vite avant que quelqu'un ne prenne votre place ! 👑</p>
            <% } else { %>
            <p class="subtitle">Voici le nom des 3 meilleurs joueurs !</p>
            <% } %>
            <div class="podium">
                <div id='podium2'>
                    <% if (user[2]) { %>
                    <p class="data"><%= user[2].username%></p>
                    <% } %>
                </div>
                <div id='podium0'>
                    <% if (user[0]) { %>
                        <p class="data"><%= user[0].username%></p>
                        <img src="https://cdn-icons-png.freepik.com/512/6719/6719105.png">
                    <% } %>
                </div>
                <div id='podium1'>
                    <% if (user[1]) { %>
                        <p class="data"><%= user[1].username%></p>
                    <% } %>
                </div>
            </div>
            <div class="subpodium">
                <% for (let i = 3; i < user.length; i++){%>
                    <p style="margin-bottom: 5px;font-weight: 500;"> <%=i+1%>. <%= user[i].username %></p>
                <%}%>
            </div>
        </main>
    </body>
</html>