<html lang="en">
<<<<<<< HEAD
<%- include('includes/head.ejs', { 'styles': [ 'styles/header.css','styles/quiz.css' ] }) %>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
=======
    <%- include('includes/head.ejs', { 'styles': [ 'styles/header.css','styles/quiz.css' ] }) %>
    <body>        
        <%- include('includes/navbar.ejs') %>
        <main class="container_quiz">
>>>>>>> f902f90dc691f8278cdc2bc0959842114dfeab34

<%- include('includes/navbar.ejs') %>
<main class="container_quiz">
    <h1><%= level.title %></h1>
    <p><%= level.description %></p>
    <a href="<%= level.url %>" target="_blank">Démarrer le challenge</a>
    <h3>Validation</h3>
    <form action="/submit" method="post" id="quizForm">
        <label for="code">Entrer le code</label>
        <input type="text" id="code" name="code"/>
        <button type="submit">Envoyer</button>
    </form>
</main>
<style>
    
    .container_quiz {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
</style>