<html lang="en">
    <%- include('includes/head.ejs', { 'styles': [ 'styles/header.css','styles/quiz.css' ] }) %>
    <body>        
        <%- include('includes/navbar.ejs') %>
        <main class="container_quiz">

            <h1><%= level.title %></h1>
            <p><%= level.description %></p>

            <a href="<%= level.url %>" target="_blank">Démarrer le challenge</a>
            
            <h3>Validation</h3>

            <form action="/submit" method="post" id="quizForm">
                <label for="code">Entrer le code</label>
                <input type="text" id="code" name="code"/>
                <button type="submit">Envoyer</button>
            </form>
        </main>
        <style>
            .container_quiz{
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;

        }
            </style>
        <script>
            document.getElementById('quizForm').addEventListener('submit', function(event) {
                event.preventDefault(); // Empêcher le rechargement de la page par défaut

                var code = document.getElementById('code').value;
                fetch('/submit', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ code: code })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        alert("Mauvais code");
                    } else {
                        alert("Bravo !");
                        window.location.reload();
                        document.getElementById('code').value = '';
                    }
                })
                .catch(error => console.error('Error:', error));
            });
        </script>
    </body>
</html>