<html lang="en">
    <%- include('includes/head.ejs', { 'styles': [ 'styles/header.css','styles/quiz.css' ] }) %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <body>        
        <%- include('includes/navbar.ejs') %>
        <main class="container_quiz">

            <h1><%= level.title %></h1>
            <p><%= level.description %></p>

            <a href="<%= level.url %>" target="_blank">Démarrer le challenge</a>
            
            <h3>Validation</h3>

            <form action="/submit" method="post" id="quizForm">
                <label for="code">Entrer le code</label>
                <input type="text" id="code" name="code"/>
                <button type="submit">Envoyer</button>
            </form>
        </main>
        <style>
            .container_quiz{
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;

        }
            </style>
        <script>
            document.getElementById('quizForm').addEventListener('submit', function(event) {
                event.preventDefault(); // Empêcher le rechargement de la page par défaut

                var code = document.getElementById('code').value;
                fetch('/submit', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ code: code })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        alert("Mauvais code");
                    } else {
                        alert("Bravo !");
                        window.location.reload();
                        document.getElementById('code').value = '';
                    }
                })
                .catch(error => console.error('Error:', error));
            });
        </script>
    </body>
</html>